[submodule "deps/atomworks"]
	path = deps/atomworks
	url = https://github.com/baker-laboratory/atomworks-dev.git
[submodule "deps/pysisyphus"]
	path = deps/pysisyphus
	url = https://github.com/eljost/pysisyphus.git
[submodule "deps/plumed2"]
	path = deps/plumed2
	url = https://github.com/plumed/plumed2.git
[submodule "deps/xtb"]
	path = deps/xtb
	url = https://github.com/grimme-lab/xtb.git
[submodule "deps/g-xtb"]
	path = deps/g-xtb
	url = https://github.com/grimme-lab/g-xtb.git
